extends layout

block content
  h1= title
  p Welcome to  shiva Kumar Reddy #{title} page
  button(type="button", class="btn btn-secondary" onclick="goFaster()") Press Me
  div(id="faster") Increase the speed
  a(href='/vehicles') View Vehicle Search Results


  script.
    let mph = 20;
    let change =1;
    function goFaster(){
      mph += change;
      change += 1;
      document.getElementById("faster").innerHTML = `MPH ${mph} with change ${change}.`
    }